In [1]:
!pip install pinotdb

Collecting pinotdb
  Using cached pinotdb-0.4.8-py2.py3-none-any.whl (24 kB)
Collecting httpx
  Using cached httpx-0.23.0-py3-none-any.whl (84 kB)
Requirement already satisfied: six in /opt/conda/lib/python3.8/site-packages (from pinotdb) (1.15.0)
Processing ./.cache/pip/wheels/43/60/a0/19cfc2653f825144b434d455710d205ce1f80cdb498e202391/ciso8601-2.2.0-cp38-cp38-linux_x86_64.whl
Requirement already satisfied: requests in /opt/conda/lib/python3.8/site-packages (from pinotdb) (2.24.0)
Collecting rfc3986[idna2008]<2,>=1.3
  Using cached rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Collecting httpcore<0.16.0,>=0.15.0
  Using cached httpcore-0.15.0-py3-none-any.whl (68 kB)
Requirement already satisfied: certifi in /opt/conda/lib/python3.8/site-packages (from httpx->pinotdb) (2020.6.20)
Collecting sniffio
  Using cached sniffio-1.3.0-py3-none-any.whl (10 kB)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/lib/python3.8/site-packages (from requests->pinotdb) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.8/site-packages (from requests->pinotdb) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/lib/python3.8/site-packages (from requests->pinotdb) (3.0.4)
Collecting anyio==3.*
  Using cached anyio-3.6.1-py3-none-any.whl (80 kB)
Collecting h11<0.13,>=0.11
  Using cached h11-0.12.0-py3-none-any.whl (54 kB)
Installing collected packages: rfc3986, sniffio, anyio, h11, httpcore, httpx, ciso8601, pinotdb
Successfully installed anyio-3.6.1 ciso8601-2.2.0 h11-0.12.0 httpcore-0.15.0 httpx-0.23.0 pinotdb-0.4.8 rfc3986-1.5.0 sniffio-1.3.0

In [2]:
import pinotdb

In [3]:
connection = pinotdb.connect("pinot", 8000)

In [4]:
cursor = connection.cursor()

In [8]:
cursor.execute("""
SELECT * 
FROM baseballStats
LIMIT 20
""")

In [9]:
for row in cursor:
    print(row)

[0, 11, 0, 0, 0, 0, 0, 0, 0, 0, 'NL', 11, 11, 'aardsda01', 'David Allan', 1, 0, 0, 0, 0, 0, 0, 'SFN', 0, 2004]
[2, 45, 0, 0, 0, 0, 0, 0, 0, 0, 'NL', 45, 43, 'aardsda01', 'David Allan', 1, 0, 0, 0, 1, 0, 0, 'CHN', 0, 2006]
[0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 'AL', 25, 2, 'aardsda01', 'David Allan', 1, 0, 0, 0, 0, 0, 0, 'CHA', 0, 2007]
[1, 5, 0, 0, 0, 0, 0, 0, 0, 0, 'AL', 47, 5, 'aardsda01', 'David Allan', 1, 0, 0, 0, 0, 0, 1, 'BOS', 0, 2008]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'AL', 73, 3, 'aardsda01', 'David Allan', 1, 0, 0, 0, 0, 0, 0, 'SEA', 0, 2009]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'AL', 53, 4, 'aardsda01', 'David Allan', 1, 0, 0, 0, 0, 0, 0, 'SEA', 0, 2010]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'AL', 1, 0, 'aardsda01', 'David Allan', 1, 0, 0, 0, 0, 0, 0, 'NYA', 0, 2012]
[468, 122, 28, 2, 27, 13, 131, 3, 13, 0, 'NL', 122, 122, 'aaronha01', 'Henry Louis', 1, 58, 69, 4, 6, 2, 39, 'ML1', 6, 1954]
[602, 153, 49, 1, 37, 20, 189, 3, 27, 5, 'NL', 153, 153, 'aaronha01', 'Henry Louis', 1, 105, 106, 4, 7, 3, 61, 'ML1', 9, 1955]
[609, 153, 37, 4, 34, 21, 200, 2, 26, 6, 'NL', 153, 153, 'aaronha01', 'Henry Louis', 1, 106, 92, 7, 5, 2, 54, 'ML1', 14, 1956]
[615, 151, 57, 1, 27, 13, 198, 0, 44, 15, 'NL', 151, 151, 'aaronha01', 'Henry Louis', 1, 118, 132, 3, 0, 1, 58, 'ML1', 6, 1957]
[601, 153, 59, 1, 34, 21, 196, 1, 30, 16, 'NL', 153, 153, 'aaronha01', 'Henry Louis', 1, 109, 95, 3, 0, 4, 49, 'ML1', 4, 1958]
[629, 154, 51, 0, 46, 19, 223, 4, 39, 17, 'NL', 154, 154, 'aaronha01', 'Henry Louis', 1, 116, 123, 9, 0, 8, 54, 'ML1', 7, 1959]
[590, 153, 60, 7, 20, 8, 172, 2, 40, 13, 'NL', 153, 153, 'aaronha01', 'Henry Louis', 1, 102, 126, 12, 0, 16, 63, 'ML1', 11, 1960]
[603, 155, 56, 9, 39, 16, 197, 2, 34, 20, 'NL', 155, 155, 'aaronha01', 'Henry Louis', 1, 115, 120, 9, 1, 21, 64, 'ML1', 10, 1961]
[592, 156, 66, 7, 28, 14, 191, 3, 45, 14, 'NL', 156, 156, 'aaronha01', 'Henry Louis', 1, 127, 128, 6, 0, 15, 73, 'ML1', 6, 1962]
[631, 161, 78, 5, 29, 11, 201, 0, 44, 18, 'NL', 161, 161, 'aaronha01', 'Henry Louis', 1, 121, 130, 5, 0, 31, 94, 'ML1', 4, 1963]
[570, 145, 62, 4, 30, 22, 187, 0, 24, 9, 'NL', 145, 145, 'aaronha01', 'Henry Louis', 1, 103, 95, 2, 0, 22, 46, 'ML1', 2, 1964]
[570, 150, 60, 4, 40, 15, 181, 1, 32, 10, 'NL', 150, 150, 'aaronha01', 'Henry Louis', 1, 109, 89, 8, 0, 24, 81, 'ML1', 1, 1965]
[603, 158, 76, 3, 23, 14, 168, 1, 44, 15, 'NL', 158, 158, 'aaronha01', 'Henry Louis', 1, 117, 127, 8, 0, 21, 96, 'ATL', 1, 1966]

In [10]:
cursor.description

[('AtBatting', <Type.NUMBER: 2>, None, None, None, None, None),
 ('G_old', <Type.NUMBER: 2>, None, None, None, None, None),
 ('baseOnBalls', <Type.NUMBER: 2>, None, None, None, None, None),
 ('caughtStealing', <Type.NUMBER: 2>, None, None, None, None, None),
 ('doules', <Type.NUMBER: 2>, None, None, None, None, None),
 ('groundedIntoDoublePlays', <Type.NUMBER: 2>, None, None, None, None, None),
 ('hits', <Type.NUMBER: 2>, None, None, None, None, None),
 ('hitsByPitch', <Type.NUMBER: 2>, None, None, None, None, None),
 ('homeRuns', <Type.NUMBER: 2>, None, None, None, None, None),
 ('intentionalWalks', <Type.NUMBER: 2>, None, None, None, None, None),
 ('league', <Type.STRING: 1>, None, None, None, None, None),
 ('numberOfGames', <Type.NUMBER: 2>, None, None, None, None, None),
 ('numberOfGamesAsBatter', <Type.NUMBER: 2>, None, None, None, None, None),
 ('playerID', <Type.STRING: 1>, None, None, None, None, None),
 ('playerName', <Type.STRING: 1>, None, None, None, None, None),
 ('playerStint', <Type.NUMBER: 2>, None, None, None, None, None),
 ('runs', <Type.NUMBER: 2>, None, None, None, None, None),
 ('runsBattedIn', <Type.NUMBER: 2>, None, None, None, None, None),
 ('sacrificeFlies', <Type.NUMBER: 2>, None, None, None, None, None),
 ('sacrificeHits', <Type.NUMBER: 2>, None, None, None, None, None),
 ('stolenBases', <Type.NUMBER: 2>, None, None, None, None, None),
 ('strikeouts', <Type.NUMBER: 2>, None, None, None, None, None),
 ('teamID', <Type.STRING: 1>, None, None, None, None, None),
 ('tripples', <Type.NUMBER: 2>, None, None, None, None, None),
 ('yearID', <Type.NUMBER: 2>, None, None, None, None, None)]

In [11]:
import pandas as pd

In [12]:
cursor.execute("""
SELECT *
FROM baseballStats
""")

pd.DataFrame(
    cursor, 
    columns=[value[0] for value in cursor.description]
)

,AtBatting,G_old,baseOnBalls,caughtStealing,doules,groundedIntoDoublePlays,hits,hitsByPitch,homeRuns,intentionalWalks,...,playerStint,runs,runsBattedIn,sacrificeFlies,sacrificeHits,stolenBases,strikeouts,teamID,tripples,yearID
0,0,11,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,SFN,0,2004
1,2,45,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,CHN,0,2006
2,0,2,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,CHA,0,2007
3,1,5,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,BOS,0,2008
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,SEA,0,2009
5,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,SEA,0,2010
6,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,NYA,0,2012
7,468,122,28,2,27,13,131,3,13,0,...,1,58,69,4,6,2,39,ML1,6,1954
8,602,153,49,1,37,20,189,3,27,5,...,1,105,106,4,7,3,61,ML1,9,1955
9,609,153,37,4,34,21,200,2,26,6,...,1,106,92,7,5,2,54,ML1,14,1956